@model string
<!-- Button trigger modal -->
<button type="button" id="createNew" class="create-new-btn" onclick="createNewRoom()" data-bs-toggle="modal" data-bs-target="#createRoomModal">
    Create new room +
</button>

<!-- Modal -->
<div class="modal" id="createRoomModal" class="modal" tabindex="-1" aria-labelledby="createRoomModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CreateGame", "Home", FormMethod.Post))
            {
                <input id="createRoomNumber" type="hidden" value="" name="gameId" />
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-custom-body">
                    <h2 class="modalh2">Please enter a player name</h2>
                    <input type="text" id="p1Name" name="p1Name" placeholder="Player Name" class="custom-input" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create New Game</button>
                </div>
            }
        </div>
    </div>
</div>