@model string
<!-- Button trigger modal -->
<button type="button" id="createNew" onclick="createNewRoom()" data-bs-toggle="modal" data-bs-target="#createRoomModal">
    Create new room +
</button>

<!-- Modal -->
<div class="modal" id="createRoomModal" tabindex="-1" aria-labelledby="createRoomModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("CreateGame", "Home", FormMethod.Post))
            {   
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoomModalLabel">Create a room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Please enter a player name</h5>
                    <input type="text" id="playerName" name="playerName" placeholder="Player Name"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create New Game</button>
                </div>
            }
        </div>
    </div>
</div>