@using Checkers.Domain.Entities
@using Microsoft.AspNetCore.SignalR.Client
@model List<Game>
@{
    ViewData["Title"] = "Home Page";
}

<video autoplay muted loop id="myVideo">
    <source src="/assets/videos/background.mp4" type="video/mp4">
</video>

<div>
    <div class="row main-content">
        <div class="col-md-2 rooms-list">
            <h3>Available Games</h3>
            @if (Model != null)
            {
                @foreach (var game in Model)
                {
                    if (game.P2 == string.Empty)
                    {
                        <div>
                            <span>@game.Id</span>
                            <partial name="_JoinRoomModal" model="@game.Id.ToString()"></partial>
                        </div>
                    }
                }
            }
        </div>
        <div class="col-md-8 main-menu">
            <div class="title">C H E C K E R S</div>
            <div class="glass">
                @using (Html.BeginForm("Join", "Home", FormMethod.Post))
                {
                    <p class="input-title">Enter your name</p>
                    <input class="custom-input" name="p2Name" type="text">
                    <p class="input-title">Enter room number</p>
                    <input class="custom-input" name="gameId" type="number">
                    <button type="submit" class="submit-btn btn-position">Join</button>
                }
            </div>
            <partial name="_CreateRoomModal" model="string.Empty"></partial>
        </div>
        <div class="col-md-2 highscore">
            <h3>Highscores</h3>
            <div id="highscorePlayers">

            </div>
        </div>
    </div>
</div>

<script src="~/js/indexSite.js"></script>