@using Checkers.Domain.Entities
@using Microsoft.AspNetCore.SignalR.Client
@model List<Game>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <video autoplay muted loop id="myVideo">
        <source src="/assets/videos/background.mp4" type="video/mp4">
    </video>
    <h5>Available Games</h5>
    @if (Model != null)
    {
        @foreach (var game in Model)
        {
            if(game.P2 == string.Empty)
            {
                <div>
                    <span>@game.Id</span>
                    <partial name="_JoinRoomModal" model="@game.Id.ToString()"></partial>
                </div>
            }
        }
    }
    
</div>

    <div id="title">W A R C A B Y</div>
    <div id="glass">
        <button type="button" id="goTo" onclick="goTo()">Go to room</button>
        <p id="roomNumber">Wpisz numer pokoju:</p>
        <input id='roomInput' type="number">
    </div>

    <partial name="_CreateRoomModal" model="string.Empty"></partial>

    <div id="highscore">
        <h2><b>Highscores:</b></h2>
    </div>
</div>