@using Microsoft.AspNetCore.SignalR.Client
@{
    ViewData["Title"] = "Home Page";
}


<div id="container">
    <video autoplay muted loop id="myVideo">
        <source src="/assets/videos/background.mp4" type="video/mp4">
    </video>

    <div id="title">W A R C A B Y</div>
    <div id="glass">
        <button type="button" id="goTo" onclick="goTo()">Go to room</button>
        <p id="roomNumber">Wpisz numer pokoju:</p>
        <input id='roomInput' type="number">
    </div>

    <partial name="_CreateRoomModal"></partial>

    <div id="highscore">
    </div>
</div>


