.checker {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
}

    .checker.black {
        background: rgba(0, 0, 255, 0.65);
        -webkit-box-shadow: inset 0px 0px 10px rgba(135, 235, 255, 0.75);
        -moz-box-shadow: inset 0px 0px 10px rgba(135, 235, 255, 0.75);
        box-shadow: inset 0px 0px 10px rgba(135, 235, 255, 0.75);
    }

    .checker.white {
        background: rgba(100, 255, 255, 0.65);
        -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 255, 0.75);
        -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 255, 0.75);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 255, 0.75);
    }

.checker.active {
    border: 3px solid blue;
}

.king {
    margin-left: 9px;
    font-weight: bold;
    color: yellow;
}

/* zwolnic animacje*/