.active-player {
    border: 1px solid red;
    padding:2px;
}

.checker-board {
    min-width: 760px;
}

.cell {
    height: 95px;
    width: 95px;
    padding: 1%;
    border: 1px solid black;
    position: relative;
}

.cell.active {
    border: 3px solid blue;
}

.row {
    margin-left: 1px;
}

.checker-board-row:nth-child(2n) .cell:nth-child(2n+1),
.checker-board-row:nth-child(2n+1) .cell:nth-child(2n) {
    background: rgba(55, 208, 255, 0.55);
}

.checker-board-row:nth-child(2n) .cell:nth-child(2n),
.checker-board-row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background: rgba(131, 230, 255, 0.55);
}