.active-player {
    border: 1px solid red;
    padding:2px;
}

.checker-board {
    min-width: 720px;
    width:auto;
}

.cell {
    height: 5vw;
    width: 5vw;
    padding: 1%;
    border: 1px solid black;
    position: relative;
}

.cell.active {
    border: 3px solid blue;
}

.chat-row {
    margin-left: 1px;
    text-align:center;
}

.checker-board-row:nth-child(2n) .cell:nth-child(2n+1),
.checker-board-row:nth-child(2n+1) .cell:nth-child(2n) {
    background: rgba(55, 208, 255, 0.55);
}

.checker-board-row:nth-child(2n) .cell:nth-child(2n),
.checker-board-row:nth-child(2n+1) .cell:nth-child(2n+1) {
    background: rgba(131, 230, 255, 0.55);
}

.checker-board-col {
    text-align:center;
    padding-left:15%;
}

.chat-col {
    background: rgba(55, 208, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5.2px);
    text-align: center;
    height:85vh;
    overflow:auto;
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    overflow: auto;
}

.chat-col Input {
    width: 75%;
    height: 1.75rem;
    font-size: 1.55rem;
    margin-top: 5%;
    top: 30%;
    right: 10px;
    height: 2rem;
}

.chat-col button {
    width: 15%;
    height: 1.75rem;
    border-radius: 2px;
    font-size: 0.75rem;
    padding-left: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 25px;
    background-color: rgba(131, 230, 255, 0.75);
    border: solid rgba(135, 235, 255, 0.75) 1px;
    text-shadow: 0 0 6px white;
    transition: linear 0.1s;
    overflow: hidden;
    scroll-behavior: unset;
}

.player-name-col {
    width: 50%;
    font-size: 1.55rem;
    box-shadow: inset 0px 0px 15px blue;
}


.timer {
    text-align: center;
    width: 15%;
    height: 80px;
    border: solid red 1px;
    border-radius: 10px 10px 33% 33%;
    position: fixed;
    margin-left: 57.5%;
    margin-top: 5%;
    color: red;
    font-weight: 800;
    font-size: 1.5rem;
    border-color: rgba(135, 235, 255, 0.75);
    -webkit-box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    -moz-box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    background: blue;
}

    .timer:active {
        border-color: blue;
        -webkit-box-shadow: inset 0px 0px 15px blue;
        -moz-box-shadow: inset 0px 0px 15px blue;
        box-shadow: inset 0px 0px 15px blue;
        background: rgba(135, 235, 255, 0.75);
    }

.checker-board {

}

.board {
    width:69%;
    overflow:visible;
    padding:1%;
    background:rgba(255,255,255,0.25)
}