.main-content {
    height: 80vh;
    box-sizing: border-box;
}

.rooms-list {
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(55, 208, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5.2px);
    font-size: 2rem;
    overflow-y: auto; /* Zapewnia, że przewijanie jest włączone tylko wtedy, gdy jest potrzebne */
    scrollbar-color: transparent transparent; /* Kolor paska i tła (dla przeglądarek wspierających) */
    text-align: center;
}

.rooms-list::-webkit-scrollbar-track {
    background: transparent; /* Kolor tła paska przewijania */
}

.title {
    font-size: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    margin-bottom: -80px;
    z-index: 1;
    text-shadow: 0px 0px 3px black;
}

.main-menu {
    display:flex;
    flex-direction:column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.glass {
    width: 65%;
    height: 65%;
    background: rgba(55, 208, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    padding-top: 7.5%;
    margin-top: 10px;
}

.input-title {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 0px 0px 6px black;
}

.submit-btn {
    width: 2.75vw;
    height: 2.75vw;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 0.95rem;
    padding: 5px;
    text-align: center;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 50%;
    background-color: rgba(131, 230, 255, 0.75);
    border: solid rgba(135, 235, 255, 0.75);
    text-shadow: 0 0 6px white;
    transition: linear 0.1s;
    margin-left: 1%;
    margin-top: -0.25%;
    transition: linear 0.1s;
}

.highscore {
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(55, 208, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(5.2px);
    font-size: 2rem;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    text-align: center;
}

.create-new-btn {
    width: 30%;
    height: 15%;
    border-radius: 10px;
    position: relative;
    top: -10%;
    left: 20%;
    transform: rotate(-10deg);
    font-size: 1.25rem;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    border-radius: 10px;
    background-color: rgba(131, 230, 255, 0.75);
    border: solid rgba(135, 235, 255, 0.75);
    text-shadow: 0 0 6px white;
    transition: linear 0.1s
}


.chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 85%;
    overflow: scroll;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.P1 {
    align-self: flex-start;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border-color: rgba(135, 235, 255, 0.75);
    -webkit-box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    -moz-box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    box-shadow: inset 0px 0px 15px rgb(135, 235, 255);
    background: blue;
    color: white;
}

.P2 {
    align-self: flex-end;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border-color: blue;
    -webkit-box-shadow: inset 0px 0px 15px blue;
    -moz-box-shadow: inset 0px 0px 15px blue;
    box-shadow: inset 0px 0px 15px blue;
    background: rgba(135, 235, 255, 0.75);
}

.P1 .span {
    height:50px;
}

.system{
    align-self: center;
    color: grey;
}